.write {
  position: fixed;
  left: calc(50% - 45%);
  top: calc(50% - 40%);
  width: 90%;
  height: 80%;

  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-wrapper {
  background-color: #d8b6b6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  position: relative;
  margin-top: 40px;
  margin-left: 40px;
  width: 200px;
  height: 300px;
  background: yellow;
}

.button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px;

  & > button {
    margin: 0 30px;
    padding: 10px 20px;
    font-size: 20px;
  }
  & > .green {
    background-color: #52ff00;
  }
  & > .red {
    background-color: #ec5aba;
  }
}
